<?xml version="1.0" ?>
<launch>
	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find urdf)/kidsize_model/11th/config/11th_controllers.yaml" command="load"/>

	<!-- load the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/kidsize"
		args="
                    joint_state_controller

                    waist_yaw_position_controller

		    right_hip_yaw_position_controller
		    right_hip_roll_position_controller
		    right_hip_pitch_position_controller
		    right_knee_pitch_position_controller
		    right_ankle_pitch_position_controller
		    right_ankle_roll_position_controller

		    left_hip_yaw_position_controller
		    left_hip_roll_position_controller
		    left_hip_pitch_position_controller
		    left_knee_pitch_position_controller
		    left_ankle_pitch_position_controller
		    left_ankle_roll_position_controller

		    right_shoulder_pitch_position_controller
		    right_shoulder_roll_position_controller
                    right_middle_yaw_position_controller
		    right_elbow_pitch_position_controller

		    left_shoulder_pitch_position_controller
		    left_shoulder_roll_position_controller
                    left_middle_yaw_position_controller
		    left_elbow_pitch_position_controller

		    neck_yaw_position_controller
		    head_pitch_position_controller
		"
	/>
</launch>
